[build]
  command = "npm run build"
  publish = "dist"

# Asegura single-page app routing con React Router
[[redirects]]
  from = "/app/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
